# --- C++ Build Artifacts ---
# Ignore compiled executables and object files
*.exe
*.o
*.obj
*.pdb

.vscode

# --- App Specific Files ---
# Ignore the playlist file (it's unique to your machine)
playlist.txt
# Ignore any temporary mp3 files created during download
temp_song.mp3

# --- Audio Files ---
# Ignore all files inside the songs folder...
songs/*
# ...but do NOT ignore the .gitkeep file (this keeps the folder on GitHub)
!songs/.gitkeep

# --- External Tools ---
# We ignore the actual .exe files
knihovny/*.exe

# But we can keep the folder structure
!knihovny/.gitkeep
